language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
script:
  - yarn test
  - yarn build

deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  bucket: printboard.wheejuni.com
  region: ap-northeast-2
  local_dir: build
  skip_cleanup: true

notifications:
  slack: codesquad-members:t7B1WHfsCgrRfipipWXNLKnQ

