.wrap_cont {
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 300px;
  margin: 50px -350px;
}
.login-form {
  width: 330px;
  height: 100%;
  text-align: center;
  
}
.wrap_cont .login {
  float: left;
}
.wrap_cont .signup {
  float: right;
}

.jumbo-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

#login-center-text {
  color: wheat;
  margin-top: 100px;
}

#login-center-text-medium {
  color: white;
  margin-top: 10ox;
  margin-bottom: 40px;
}

#login-center-text-small {
  color: white;
  margin-bottom: 50px;
}

#login-center-line {
  border-width: 1px;
  color: silver;
}