.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.screen_out,
.blind {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
.cl_b {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear_g {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  *zoom: 1;
}
.clear_g:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}
